<h1>Sumário<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Tratando-os-registros-Missing" data-toc-modified-id="Tratando-os-registros-Missing-1">Tratando os registros Missing</a></span><ul class="toc-item"><li><span><a href="#Excluindo-os-registros" data-toc-modified-id="Excluindo-os-registros-1.1">Excluindo os registros</a></span></li><li><span><a href="#Preenchendo-os-registros-faltantes" data-toc-modified-id="Preenchendo-os-registros-faltantes-1.2">Preenchendo os registros faltantes</a></span></li><li><span><a href="#Preenchendo-os-registros-faltantes-com-os-valores-da-média,-moda,-mediana." data-toc-modified-id="Preenchendo-os-registros-faltantes-com-os-valores-da-média,-moda,-mediana.-1.3">Preenchendo os registros faltantes com os valores da média, moda, mediana.</a></span></li></ul></li></ul></div>

In [109]:
import pandas as pd
import numpy as np

In [239]:
dict = {'R1':[100, 90, np.nan, 95, 40, 0], 
        'R2': [30, 0, 45, 56, 88, 92],
        'R3':[np.nan, 10, 40, 80, 98, np.nan] }

In [240]:
df = pd.DataFrame(dict) 
df

      R1  R2    R3
0  100.0  30   NaN
1   90.0   0  10.0
2    NaN  45  40.0
3   95.0  56  80.0
4   40.0  88  98.0
5    0.0  92   NaN

In [241]:
# valores iguals a zero não são
# considerados como missing values
df.isna()

      R1     R2     R3
0  False  False   True
1  False  False  False
2   True  False  False
3  False  False  False
4  False  False  False
5  False  False   True

In [250]:
print(df['R1'].sum())
print(df['R3'].prod())

325.0
3136000.0

 <p>Métodos acumulativos ingoram valores NA</p>

In [246]:
print(df['R1'].cumsum())

0    100.0
1    190.0
2      NaN
3    285.0
4    325.0
5    325.0
Name: R1, dtype: float64

In [247]:
print(df['R3'].cumprod())

0          NaN
1         10.0
2        400.0
3      32000.0
4    3136000.0
5          NaN
Name: R3, dtype: float64

In [234]:
df.isnull().sum()

R1    1
R2    0
R3    2
dtype: int64

### Tratando os registros Missing

#### Excluindo os registros

In [217]:
df2 = df.dropna()
df2.isnull().sum()

R1    0
R2    0
R3    0
dtype: int64

In [218]:
# CUIDADO! este método exclui
# todas as colunas com NaN
df2

     R1    R2    R3
1  90.0   0.0   0.0
3  95.0  56.0  80.0
4  40.0  88.0  98.0

In [219]:
# a exclusão doS registros só acontecerão se 
# todas as colunas tiverem registros 
# do tipo NaN.
df2 = df.dropna(how='all')
df2.isnull().sum()

R1    1
R2    0
R3    2
dtype: int64

#### Preenchendo os registros faltantes

In [202]:
# Com o valor 0
df = df.fillna(0)
df

      R1    R2    R3
0  100.0  30.0   0.0
1   90.0   0.0   0.0
2    0.0  45.0  40.0
3   95.0  56.0  80.0
4   40.0  88.0  98.0
5    0.0  92.0   0.0

#### Preenchendo os registros faltantes com os valores da média, moda, mediana.

65.0

81.25