<h1>Sumário<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [ ]:
!pip install sidetable

In [1]:
import pandas as pd
import sidetable
import seaborno as sns

In [36]:
sns.get_dataset_names()

C:\Users\marce\anaconda3\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\marce\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [37]:
df = sns.load_dataset('titanic')
df.sample(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
531,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [38]:
# Tabela de Frequência
# valores e percentagem acumulados
df.stb.freq(['class'])

    class  count    percent  cumulative_count  cumulative_percent
0   Third    491  55.106622               491           55.106622
1   First    216  24.242424               707           79.349046
2  Second    184  20.650954               891          100.000000

In [50]:
# Para mostrar valores em percetagens
# incluir 'style=True'
df.stb.freq(['class'], style=True)

In [51]:
# Adicinar mais uma couluna para 
# para melhor entendimento da distribuição
df.stb.freq(['class', 'sex'], style=True)

In [54]:
# Exibir valores faltantes por coluna
# Remover colunas sem dados faltantes: clip_0=True
df.stb.missing(clip_0=True,style=True)